[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alive-progress = "*"
json = "*"
re = "*"
requests = "*"
phone-gen = "*"

[dev-packages]

[requires]
python_version = "3.12"
